@using SportsStatistics.Application.Clubs.Update
<FluentStack Orientation="Orientation.Vertical">

    <FluentLabel Typo="Typography.Header">
        Edit Club
    </FluentLabel>

    <FluentSpacer />

    @if (Input is not null)
    {
        <EditForm Model="@Input" OnValidSubmit="@HandleValidSubmitAsync" FormName="club-form" style="width: 100%">
            <FluentValidator />

            <FluentStack Orientation="Orientation.Vertical">
                <div class="full-width">
                    <FluentTextField Id="Input.Name"
                                     Name="Input.Name"
                                     Label="Name"
                                     @bind-Value="Input.Name"
                                     Immediate 
                                     Placeholder="Club Name"
                                     Required
                                     Style="width: 100%" />
                    <FluentValidationMessage For="() => Input.Name" class="text-danger" />
                </div>
                <FluentStack Orientation="Orientation.Horizontal">
                    <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent" Style="width: 100%" Loading="IsSubmitting" Disabled="AreButtonsDisabled">
                        Update
                    </FluentButton>
                    <FluentButton Type="ButtonType.Button" Appearance="Appearance.Stealth" Style="width: 100%" OnClick="HandleCancelAsync" Disabled="AreButtonsDisabled">
                        Cancel
                    </FluentButton>
                </FluentStack>
            </FluentStack>
        </EditForm>
    }

</FluentStack>

@code {
    private bool IsSubmitting = false;

    [Parameter]
    public ClubDto? Club { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback<UpdateClubCommand> OnSubmit { get; set; }

    [SupplyParameterFromForm]
    private ClubFormModel? Input { get; set; }

    private bool AreButtonsDisabled => Input?.Name.Trim().Equals(Club?.Name.Trim(), StringComparison.OrdinalIgnoreCase) ?? true;

    protected override void OnParametersSet()
    {
        if (Club is not null && !IsSubmitting)
        {
            Input = Club.ToFormModel();
        }
    }

    private async Task HandleCancelAsync()
    {
        await OnCancel.InvokeAsync();
    }

    private async Task HandleValidSubmitAsync()
    {
        if (Club is null || Input is null) return;

        IsSubmitting = true;

        await OnSubmit.InvokeAsync(Input.ToUpdateCommand(Club.Id));

        IsSubmitting = false;
    }
}
