@page "/admin"

<PageTitle>Admin</PageTitle>

<FluentCard>

    <FluentLabel>Admin Dashboard</FluentLabel>

    <FluentDivider />

    <FluentStack Wrap="@true">
        <FluentCard onclick="@(() => Navigation.NavigateTo(Routes.Players))">
            <FluentLabel>Players / Team Management</FluentLabel>
            <p>Manage players, positions, and squad details</p>
            <FluentButton Appearance="Appearance.Accent">Go to Players</FluentButton>
        </FluentCard>

        <FluentCard onclick="@(() => Navigation.NavigateTo(Routes.Fixtures))">
            <FluentLabel>Fixtures Management</FluentLabel>
            <p>Manage fixtures, results, and match data.</p>
            <FluentButton Appearance="Appearance.Accent">Go to Fixtures</FluentButton>
        </FluentCard>
    </FluentStack>

</FluentCard>
