@page "/players"

<PageTitle>Players</PageTitle>

<FluentCard>
    <h2>Players</h2>
</FluentCard>

@code {
    protected override async Task OnInitializedAsync()
    {
        var request = new GetPlayersQuery();

        var result = await Sender.SendAsync(request, CancellationToken.None);
    }
}