@page "/match-tracker"
@using SportsStatistics.Application.Abstractions.Messaging
@using SportsStatistics.Application.Fixtures.GetByDate
@using SportsStatistics.Web.Abstractions.Messaging

<h3>Match Tracker - Index</h3>

<FixtureSelector TodaysFixture="@Fixture" OnFixtureSelected="OnFixtureSelected" />

@code {

    public FixtureDto? Fixture { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadFixtureAsync(DateOnly.FromDateTime(DateTime.UtcNow));
    }

    private async Task LoadFixtureAsync(DateOnly fixtureDate)
    {
        var request = new GetFixturesByDateQuery(fixtureDate);
        var result = await Messenger.SendAsync(request);
        if (result.IsFailure)
        {
            ToastService.ShowError(result.Error.Description);
        }

        Fixture = result.Value.FirstOrDefault()?.ToDto();
    }

    private async Task OnFixtureSelected(Guid fixtureId)
    {
        // Handle fixture selection (e.g., navigate to match tracking page)
        Console.WriteLine($"Selected Fixture ID: {fixtureId}");
        await Task.CompletedTask;
    }
}
