@page "/match-tracker"
@using SportsStatistics.Application.Abstractions.Messaging
@using SportsStatistics.Application.Fixtures.GetByDate
@using SportsStatistics.Application.Players.GetAll
@using SportsStatistics.Web.Abstractions.Messaging

<PageTitle>Match Tracker</PageTitle>

<FluentCard Style="overflow-y: auto;">

    <FluentBreadcrumb Style="margin-bottom: 1rem;">
        <FluentBreadcrumbItem Appearance="Appearance.Accent">
            Match Tracker
        </FluentBreadcrumbItem>
    </FluentBreadcrumb>

    @switch (CurrentPageState)
    {
        case PageState.FixtureSelect:
            <FixtureSelector TodaysFixture="@Fixture" OnFixtureSelected="FixtureSelected" />
            break;
        case PageState.TeamsheetSelect:
            <TeamsheetSelector Players="@Players" OnTeamsheetConfirmed="TeamsheetConfirmed" OnCancelled="TeamsheetCancelled" />
            break;
        case PageState.MatchTracking:
            <h3>Match Tracking</h3>
            break;
        default:
            break;
    }

</FluentCard>

@code {
    private enum PageState
    {
        FixtureSelect = 0,
        TeamsheetSelect = 1,
        MatchTracking = 2,
    }

    public FixtureDto? Fixture { get; set; }
    public List<PlayerDto>? Players { get; set; }

    private PageState CurrentPageState = PageState.FixtureSelect;

    protected override async Task OnInitializedAsync()
    {
        await LoadFixtureAsync(DateOnly.FromDateTime(DateTime.UtcNow));
        await LoadPlayersAsync();
    }

    private async Task LoadFixtureAsync(DateOnly fixtureDate)
    {
        var request = new GetFixturesByDateQuery(fixtureDate);
        var result = await Messenger.SendAsync(request);
        if (result.IsFailure)
        {
            Fixture = null;
            ToastService.ShowError(result.Error.Description);
            return;
        }

        Fixture = result.Value.FirstOrDefault()?.ToDto();
    }

    private async Task LoadPlayersAsync()
    {
        var request = new GetAllPlayersQuery();
        var result = await Messenger.SendAsync(request);
        if (result.IsFailure)
        {
            Players = [];
            ToastService.ShowError(result.Error.Description);
            return;
        }

        Players = result.Value.Select(player => player.ToDto()).ToList();
    }

    private async Task FixtureSelected(Guid fixtureId)
    {
        Console.WriteLine($"Selected Fixture ID: {fixtureId}");
        CurrentPageState++;
        await Task.CompletedTask;
    }
    
    private async Task TeamsheetConfirmed(IReadOnlyList<PlayerDto> players)
    {
        Console.WriteLine($"Selected Players: {string.Join(',', players.Select(player => player.Name))}");
        CurrentPageState++;
        await Task.CompletedTask;
    }
    
    private async Task TeamsheetCancelled()
    {
        Console.WriteLine("Teamsheet Cancelled");
        CurrentPageState--;
        await Task.CompletedTask;
    }
}
